src/net/sozinsoft/tokenlab/dtd/customoutput.dtd

<?xml version="1.0" encoding="UTF-8"?>
        <!-- DTD for Hero Lab custom output for the Pathfinder Roleplaying Game -->
<!ELEMENT document ((public))>

<!ELEMENT public ((program, localization, character+))>

<!ELEMENT program ((programinfo, version))>
<!ATTLIST program
	name CDATA #REQUIRED
	url CDATA #REQUIRED
>

<!ELEMENT programinfo (#PCDATA)>

<!ELEMENT version EMPTY>
<!ATTLIST version
	version CDATA #REQUIRED
	build CDATA #IMPLIED
	primary CDATA #IMPLIED
	secondary CDATA #IMPLIED
	tertiary CDATA #IMPLIED
>

<!ELEMENT localization EMPTY>
<!ATTLIST localization
	language CDATA #REQUIRED
	units CDATA #REQUIRED
>

<!ELEMENT character ((bookinfo?, pathfindersociety?, race, alignment, templates, size, deity, challengerating, xpaward, classes, factions, types, subtypes, heropoints, senses, auras, favoredclasses, health, xp, money, personal, languages, attributes, saves, defensive, damagereduction, immunities, resistances, weaknesses, armorclass, penalties, maneuvers, initiative, movement, encumbrance, skills, skillabilities, feats, traits, flaws, skilltricks, animaltricks, attack, melee, ranged, defenses, magicitems, gear, spelllike, trackedresources, otherspecials, spellsknown, spellsmemorized, spellbook, spellclasses, journals, images?, validation, settings, npc?, minions))>
<!ATTLIST character
	active (yes | no) "no"
	name CDATA #REQUIRED
	playername CDATA #REQUIRED
	nature CDATA #FIXED "normal"
	role (pc | npc) "pc"
	relationship (ally | enemy) "ally"
	type CDATA "Hero"
>

<!ELEMENT bookinfo EMPTY>
<!ATTLIST bookinfo
	name CDATA #IMPLIED
	id CDATA #IMPLIED
>

<!ELEMENT pathfindersociety EMPTY>
<!ATTLIST pathfindersociety
	playernum CDATA #REQUIRED
	characternum CDATA #REQUIRED
>
<!ELEMENT race EMPTY>
<!ATTLIST race
	racetext CDATA #REQUIRED
	name CDATA #REQUIRED
	ethnicity CDATA #REQUIRED
>

<!ELEMENT alignment EMPTY>
<!ATTLIST alignment
	name CDATA #REQUIRED
>

<!ELEMENT templates EMPTY>
<!ATTLIST templates
	summary CDATA #REQUIRED
>

<!ELEMENT size ((space, reach))>
<!ATTLIST size
	name CDATA #REQUIRED
>

<!ELEMENT space EMPTY>
<!ATTLIST space
	text CDATA #REQUIRED
	value CDATA #REQUIRED
>

<!ELEMENT reach EMPTY>
<!ATTLIST reach
	text CDATA #REQUIRED
	value CDATA #REQUIRED
>

<!ELEMENT deity EMPTY>
<!ATTLIST deity
	name CDATA #IMPLIED
>

<!ELEMENT challengerating EMPTY>
<!ATTLIST challengerating
	text CDATA #REQUIRED
	value CDATA #REQUIRED
>

<!ELEMENT xpaward EMPTY>
<!ATTLIST xpaward
	text CDATA #REQUIRED
	value CDATA #REQUIRED
>
<!ELEMENT classes ((class*))>
<!ATTLIST classes
	level CDATA #REQUIRED
	summary CDATA #REQUIRED
	summaryabbr CDATA #REQUIRED
>
<!ELEMENT class ((arcanespellfailure?))>
<!ATTLIST class
	level CDATA #REQUIRED
	name CDATA #REQUIRED
	spells CDATA #IMPLIED
	casterlevel CDATA #IMPLIED
	concentrationcheck CDATA #IMPLIED
	overcomespellresistance CDATA #IMPLIED
	basespelldc CDATA #IMPLIED
	castersource CDATA #IMPLIED
>

<!ELEMENT arcanespellfailure EMPTY>
<!ATTLIST arcanespellfailure
	text CDATA #REQUIRED
	value CDATA #REQUIRED
>

<!ELEMENT factions ((faction*))>
<!ELEMENT faction EMPTY>
<!ATTLIST faction
	name CDATA #REQUIRED
	tpa CDATA #REQUIRED
	cpa CDATA #REQUIRED
    retired (yes | no) "no"
>

<!ELEMENT types ((type*))>
<!ELEMENT type EMPTY>
<!ATTLIST type
	name CDATA #REQUIRED
	active (yes | no) "no"
>

<!ELEMENT subtypes ((subtype*))>
<!ELEMENT subtype EMPTY>
<!ATTLIST subtype
	name CDATA #REQUIRED
>

<!ELEMENT heropoints EMPTY>
<!ATTLIST heropoints
	enabled (yes | no) "yes"
	total CDATA #REQUIRED
>

<!ELEMENT senses ((special*))>
<!ELEMENT special ((description, specsource*))>
<!ATTLIST special
	name CDATA #REQUIRED
	shortname CDATA #REQUIRED
	sourcetext CDATA #IMPLIED
	type CDATA #IMPLIED
>

<!ELEMENT description (#PCDATA)>

<!ELEMENT specsource (#PCDATA)>

<!ELEMENT auras ((special*))>

<!ELEMENT favoredclasses ((favoredclass*))>
<!ELEMENT favoredclass EMPTY>
<!ATTLIST favoredclass
	name CDATA #REQUIRED
>

<!ELEMENT health ((special*))>
<!ATTLIST health
	currenthp CDATA #REQUIRED
	damage CDATA #REQUIRED
	hitdice CDATA #REQUIRED
	hitpoints CDATA #REQUIRED
	nonlethal CDATA #REQUIRED
>

<!ELEMENT xp EMPTY>
<!ATTLIST xp
	total CDATA #REQUIRED
>

<!ELEMENT money EMPTY>
<!ATTLIST money
	cp CDATA #REQUIRED
	gp CDATA #REQUIRED
	pp CDATA #REQUIRED
	sp CDATA #REQUIRED
	total CDATA #REQUIRED
	valuables CDATA #REQUIRED
>

<!ELEMENT personal ((description, charheight, charweight))>
<!ATTLIST personal
	age CDATA #IMPLIED
	eyes CDATA #IMPLIED
	gender (Male | Female) #IMPLIED
	hair CDATA #IMPLIED
	skin CDATA #IMPLIED
>

<!ELEMENT charheight EMPTY>
<!ATTLIST charheight
	text CDATA #REQUIRED
	value CDATA #REQUIRED
>

<!ELEMENT charweight EMPTY>
<!ATTLIST charweight
	text CDATA #REQUIRED
	value CDATA #REQUIRED
>

<!ELEMENT languages ((language*))>
<!ELEMENT language EMPTY>
<!ATTLIST language
	name CDATA #REQUIRED
	useradded (yes | no) "yes"
>

<!ELEMENT attributes ((attribute+))>
<!ELEMENT attribute ((attrvalue, attrbonus, situationalmodifiers))>
<!ATTLIST attribute
	name CDATA #REQUIRED
>

<!ELEMENT attrvalue EMPTY>
<!ATTLIST attrvalue
	text CDATA #REQUIRED
	base CDATA #REQUIRED
	modified CDATA #REQUIRED
>

<!ELEMENT attrbonus EMPTY>
<!ATTLIST attrbonus
	text CDATA #REQUIRED
	base CDATA #REQUIRED
	modified CDATA #REQUIRED
>

<!ELEMENT saves ((save+,allsaves))>
<!ELEMENT save ((situationalmodifiers))>
<!ATTLIST save
	name CDATA #REQUIRED
	abbr CDATA #REQUIRED
	save CDATA #REQUIRED
	base CDATA #REQUIRED
	fromattr CDATA #IMPLIED
	frommisc CDATA #IMPLIED
	fromresist CDATA #IMPLIED
>
<!ELEMENT allsaves ((situationalmodifiers))>
<!ATTLIST allsaves
	save CDATA #REQUIRED
	base CDATA #REQUIRED
	frommisc CDATA #IMPLIED
	fromresist CDATA #IMPLIED
>
<!ELEMENT situationalmodifiers ((situationalmodifier*))>
<!ATTLIST situationalmodifiers
	text CDATA #REQUIRED
>

<!ELEMENT situationalmodifier EMPTY>
<!ATTLIST situationalmodifier
	text CDATA #REQUIRED
	source CDATA #REQUIRED
>

<!ELEMENT defensive ((special*))>

<!ELEMENT damagereduction ((special*))>

<!ELEMENT immunities ((special*))>

<!ELEMENT resistances ((special*))>

<!ELEMENT weaknesses ((special*))>

<!ELEMENT armorclass ((situationalmodifiers))>
<!ATTLIST armorclass
	ac CDATA #REQUIRED
	flatfooted CDATA #REQUIRED
	touch CDATA #REQUIRED
	fromarmor CDATA #IMPLIED
	fromdeflect CDATA #IMPLIED
	fromdexterity CDATA #IMPLIED
	fromdodge CDATA #IMPLIED
	frommisc CDATA #IMPLIED
	fromnatural CDATA #IMPLIED
	fromshield CDATA #IMPLIED
	fromsize CDATA #IMPLIED
>

<!ELEMENT penalties ((penalty+))>

<!ELEMENT penalty EMPTY>
<!ATTLIST penalty
	name CDATA #REQUIRED
	text CDATA #REQUIRED
	value CDATA #REQUIRED
>

<!ELEMENT maneuvers ((situationalmodifiers, maneuvertype+))>
<!ATTLIST maneuvers
	cmb CDATA #REQUIRED
	cmd CDATA #REQUIRED
	cmdflatfooted CDATA #REQUIRED
>

<!ELEMENT maneuvertype ((situationalmodifiers))>
<!ATTLIST maneuvertype
	name CDATA #REQUIRED
	bonus CDATA #REQUIRED
	cmb CDATA #REQUIRED
	cmd CDATA #REQUIRED
>

<!ELEMENT initiative ((situationalmodifiers))>
<!ATTLIST initiative
	total CDATA #REQUIRED
	attrtext CDATA #REQUIRED
	misctext CDATA #REQUIRED
	attrname CDATA #REQUIRED
>

<!ELEMENT movement ((speed, basespeed, special*))>

<!ELEMENT speed EMPTY>
<!ATTLIST speed
	text CDATA #REQUIRED
	value CDATA #REQUIRED
>

<!ELEMENT basespeed EMPTY>
<!ATTLIST basespeed
	text CDATA #REQUIRED
	value CDATA #REQUIRED
>

<!ELEMENT encumbrance EMPTY>
<!ATTLIST encumbrance
	carried CDATA #REQUIRED
	encumstr CDATA #REQUIRED
	heavy CDATA #REQUIRED
	level CDATA #REQUIRED
	light CDATA #REQUIRED
	medium CDATA #REQUIRED
>

<!ELEMENT skills ((skill*))>
<!ELEMENT skill ((description, situationalmodifiers))>
<!ATTLIST skill
	name CDATA #REQUIRED
	value CDATA #REQUIRED
	ranks CDATA #REQUIRED
	attrbonus CDATA #IMPLIED
	attrname CDATA #IMPLIED
	tools (uses | needs) #IMPLIED
	armorcheck (yes | no) "no"
	classskill (yes | no) "no"
	trainedonly (yes | no) "no"
	usable (yes | no) "no"
>

<!ELEMENT skillabilities ((special*))>

<!ELEMENT feats ((feat*))>
<!ELEMENT feat ((description, featcategory*))>
<!ATTLIST feat
	name CDATA #REQUIRED
	categorytext CDATA #IMPLIED
	profgroup (yes | no) "no"
	useradded (yes | no) "yes"
>

<!ELEMENT featcategory (#PCDATA)>

<!ELEMENT traits ((trait*))>
<!ELEMENT trait ((description, traitcategory*))>
<!ATTLIST trait
	name CDATA #REQUIRED
	categorytext CDATA #IMPLIED
	useradded (yes | no) "yes"
>

<!ELEMENT traitcategory (#PCDATA)>

<!ELEMENT flaws ((flaw*))>
<!ELEMENT flaw ((description))>
<!ATTLIST flaw
	name CDATA #REQUIRED
	useradded (yes | no) "yes"
>

<!ELEMENT skilltricks ((skilltrick*))>
<!ELEMENT skilltrick ((description))>
<!ATTLIST skilltrick
	name CDATA #REQUIRED
	useradded (yes | no) "yes"
>

<!ELEMENT animaltricks ((animaltrick*))>
<!ELEMENT animaltrick ((description))>
<!ATTLIST animaltrick
	name CDATA #REQUIRED
	useradded (yes | no) "yes"
>

<!ELEMENT attack ((special*))>
<!ATTLIST attack
	attackbonus CDATA #REQUIRED
	baseattack CDATA #REQUIRED
	meleeattack CDATA #REQUIRED
	rangedattack CDATA #REQUIRED
>

<!ELEMENT melee ((weapon*))>
<!ELEMENT weapon ((rangedattack?, weight?, cost?, description, itemslot?, itempower*, wepcategory*, weptype*, situationalmodifiers))>
<!ATTLIST weapon
	name CDATA #REQUIRED
	attack CDATA #REQUIRED
	damage CDATA #REQUIRED
	crit CDATA #REQUIRED
	categorytext CDATA #IMPLIED
	typetext CDATA #IMPLIED
	size CDATA #IMPLIED
	flurryattack CDATA #IMPLIED
	equipped (double | bothhands | mainhand | offhand | no) "no"
	useradded (yes | no) "yes"
	quantity CDATA "1"
>

<!ELEMENT weight EMPTY>
<!ATTLIST weight
	text CDATA #REQUIRED
	value CDATA #REQUIRED
>

<!ELEMENT cost EMPTY>
<!ATTLIST cost
	text CDATA #REQUIRED
	value CDATA #REQUIRED
>

<!ELEMENT rangedattack EMPTY>
<!ATTLIST rangedattack
	attack CDATA #REQUIRED
	flurryattack CDATA #IMPLIED
	rangeinctext CDATA #REQUIRED
	rangeincvalue CDATA #REQUIRED
>

<!ELEMENT itemslot (#PCDATA)>

<!ELEMENT itempower ((description))>
<!ATTLIST itempower
	name CDATA #REQUIRED
	pricebonusvalue CDATA #REQUIRED
	pricebonustext CDATA #REQUIRED
	pricecashvalue CDATA #REQUIRED
	pricecashtext CDATA #REQUIRED
>

<!ELEMENT wepcategory (#PCDATA)>

<!ELEMENT weptype (#PCDATA)>

<!ELEMENT ranged ((weapon*))>

<!ELEMENT defenses ((armor*))>
<!ELEMENT armor ((weight?, cost?, description, itemslot?, itempower*))>
<!ATTLIST armor
	name CDATA #REQUIRED
	ac CDATA #REQUIRED
	equipped (yes | no) "no"
	natural (yes | no) "no"
	useradded (yes | no) "yes"
	quantity CDATA "1"
>

<!ELEMENT magicitems ((item*))>
<!ELEMENT item ((weight?, cost?, description, itemslot?, itempower*))>
<!ATTLIST item
	name CDATA #REQUIRED
	useradded (yes | no) "yes"
	quantity CDATA "1"
>

<!ELEMENT gear ((item*))>

<!ELEMENT spelllike ((special*))>

<!ELEMENT trackedresources ((trackedresource*))>
<!ELEMENT trackedresource EMPTY>
<!ATTLIST trackedresource
	name CDATA #REQUIRED
	text CDATA #REQUIRED
	used CDATA #REQUIRED
	left CDATA #REQUIRED
	min CDATA #REQUIRED
	max CDATA #REQUIRED
>

<!ELEMENT otherspecials ((special*))>

<!ELEMENT spellsknown ((spell*))>
<!ELEMENT spell ((description, spellcomp*, spellschool*, spellsubschool*, spelldescript*))>
<!ATTLIST spell
	name CDATA #REQUIRED
	level CDATA #REQUIRED
	area CDATA #IMPLIED
	casterlevel CDATA #REQUIRED
	castsleft CDATA #IMPLIED
	casttime CDATA #IMPLIED
	class CDATA #IMPLIED
	componenttext CDATA #IMPLIED
	dc CDATA #IMPLIED
	descriptor CDATA #IMPLIED
	duration CDATA #IMPLIED
	effect CDATA #IMPLIED
	range CDATA #IMPLIED
	resist CDATA #IMPLIED
	save CDATA #IMPLIED
	schooltext CDATA #IMPLIED
	subschooltext CDATA #IMPLIED
	descriptortext CDATA #IMPLIED
	savetext CDATA #IMPLIED
	resisttext CDATA #IMPLIED
	target CDATA #IMPLIED
	useradded (yes | no) "yes"
	spontaneous (yes | no) "no"
	unlimited (yes | no) "no"
>

<!ELEMENT spellcomp (#PCDATA)>

<!ELEMENT spellschool (#PCDATA)>

<!ELEMENT spellsubschool (#PCDATA)>

<!ELEMENT spelldescript (#PCDATA)>

<!ELEMENT spellsmemorized ((spell*))>

<!ELEMENT spellbook ((spell*))>

<!ELEMENT spellclasses ((spellclass*))>
<!ELEMENT spellclass ((spelllevel*))>
<!ATTLIST spellclass
	name CDATA #REQUIRED
	maxspelllevel CDATA #REQUIRED
	spells CDATA #REQUIRED
>

<!ELEMENT spelllevel EMPTY>
<!ATTLIST spelllevel
	level CDATA #REQUIRED
	maxcasts CDATA "0"
	used CDATA "0"
	unlimited (yes | no) "no"
>

<!ELEMENT journals ((journal*))>
<!ELEMENT journal ((description))>
<!ATTLIST journal
	name CDATA #IMPLIED
	cp CDATA #IMPLIED
	gamedate CDATA #IMPLIED
	gp CDATA #IMPLIED
	pp CDATA #IMPLIED
	prestigeaward CDATA #IMPLIED
	prestigespend CDATA #IMPLIED
	realdate CDATA #IMPLIED
	sp CDATA #IMPLIED
	xp CDATA #IMPLIED
>

<!ELEMENT images ((image*))>
<!ELEMENT image EMPTY>
<!ATTLIST image
	filename CDATA #REQUIRED
>

<!ELEMENT validation ((report, validmessage*))>

<!ELEMENT report (#PCDATA)>

<!ELEMENT validmessage (#PCDATA)>

<!ELEMENT settings EMPTY>
<!ATTLIST settings
	summary CDATA #REQUIRED
>

<!ELEMENT npc ((description, basics, tactics, ecology, additional))>
<!ELEMENT basics ((npcinfo*))>
<!ELEMENT tactics ((npcinfo*))>
<!ELEMENT ecology ((npcinfo*))>
<!ELEMENT additional ((npcinfo*))>
<!ELEMENT npcinfo (#PCDATA)>
<!ATTLIST npcinfo
	name CDATA #REQUIRED
>

<!ELEMENT minions ((character*))>
